DATABASE_URL=sqlite+aiosqlite:///./data/database.db
DATA_DIR=./data
MATERIALS_RAW_DIR=./materials_raw
MATERIALS_PROCESSED_DIR=./materials_processed
MATERIALS_FAILED_DIR=./materials_failed
VOCABULARY_SOURCE=./vocabulary.db
